.DS_Store
/js/bio-pv.min.js
/js/bio-pv.dbg.js
/js/bio-pv.rel.js
js/bio-pv.rel.bro.js
js/bio-pv.browserify.js
/doc/_static/*.pdb
/bio-pv.js
/node_modules
/doc/_build
/doc/_static/bio-pv.min.js
build
*.csf
*.tgz
*.pyc
*.egg-info
dist
.ipynb_checkpoints
.idea/workspace.xml
